{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mb-3">{% if form.instance.pk %}案件の編集{% else %}新規案件の追加{% endif %}</h1>
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-save"></i> 保存
        </button>
        <a href="{% url 'project_list' %}" class="btn btn-secondary">
          <i class="fas fa-times"></i> キャンセル
        </a>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dateInputs = document.querySelectorAll('input[type="date"]');
    dateInputs.forEach(function(input) {
      input.addEventListener('change', function() {
        var date = new Date(this.value);
        var formattedDate = date.getFullYear().toString().substr(-2) + '/' + 
                            ('0' + (date.getMonth() + 1)).slice(-2) + '/' + 
                            ('0' + date.getDate()).slice(-2);
        this.nextElementSibling.textContent = formattedDate;
      });
    });
  });
</script>
{% endblock %}